{
   "avere"
   (let [avere-common {:synsem {:essere false
                                :cat :verb
                                :sem {:reflexive false}}
                       :italiano {:italiano "avere"
                                  :future-stem "avr"
                                  :drop-e true
                                  :present {:1sing "ho"
                                            :2sing "hai"
                                            :3sing "ha"
                                            :1plur "abbiamo"
                                            :2plur "avete"
                                            :3plur "hanno"}}}]

     ;; 1. "avere": to possess something buyable
     [

      ;; 5. "avere" that takes an intransitive verb or a transitive verb within a VP
      ;;    with the object (e.g. "io ho dormito (i slept)" or "io ho [mangiato la pizza] (i ate the pizza)"
      ;; "avere": auxiliary-verb: takes 2 args:
      ;; 1. subject that is the same as the subject of 2.
      ;; 2. an intransitive verb.
      {;;:unify [verb-aux verb-subjective avere-common agreement-of-subj-of-main-verb]
       :unify [verb-aux verb-subjective avere-common]
       :note "avere(aux): takes intrans"
       :synsem {:infl :present
                :subcat {:2 {:essere false
                             :reflexive false ;; in Italian, reflexive verbs are always essere=false.
                             ;; this additional qualification here (:reflexive false) is not necessary
                             ;; but is expected to reduce fails during generation.
                             :subcat {:2 '()}}}}}])
 }
