{
 "del"
 {:synsem {:cat :det
           :def :partitivo
           :agr {:number :sing
                 :gender :masc}}}
 "dei"
 {:synsem {:cat :det
           :def :partitivo
           :agr {:number :plur
                 :gender :masc}}}
 "della"
 {:synsem {:cat :det
           :def :partitivo
           :agr {:number :sing
                 :gender :fem}}}
 "delle"
 {:synsem {:cat :det
           :def :partitivo
           :agr {:number :plur
                 :gender :fem}}}






 "gli"
 {:generate-with false
  :synsem {:cat :det
           :def :def
           :agr {:gender :masc
                 :number :plur}
           :sem {:pred :definite
                 :of {:pred nil}}}}
 "i"
 {:synsem {:cat :det
           :def :def
           :agr {:gender :masc
                 :number :plur}
           :sem {:pred :definite
                 :of {:pred nil}}}}
 "il"
 {:synsem {:cat :det
           :def :def
           :agr {:gender :masc
                 :number :sing}
           :sem {:pred :definite
                 :of {:pred nil}}}}
 "la"
  {:synsem {:cat :det
            :def :def
            :agr {:gender :fem
                  :number :sing}
           :sem {:pred :definite
                 :of {:pred nil}}}}

"il mio"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :sing}
          :sem {:number :sing
                :of {:pred :I}
                :person :1st}}}

"la mia"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :sing}
          :sem {:number :sing
                :of {:pred :I}
                :person :1st}}}

"i miei"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :plur}
          :sem {:number :sing
                :of {:pred :I}
                :person :1st}}}

"le mie"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :plur}
          :sem {:number :sing
                :of {:pred :I}
                :person :1st}}}

"il tuo"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :sing}
          :sem {:number :sing
                :of {:pred :you}
                :person :2nd}}}

"la tua"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :sing}
          :sem {:number :sing
                :of {:pred :you}
                :person :2nd}}}


"i tuoi"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :plur}
          :sem {:number :sing
                :of {:pred :you}
                :person :2nd}}}

"le tue"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :plur}
          :sem {:number :sing
                :of {:pred :you}
                :person :2nd}}}

"il suo"
[{:synsem {:cat :det
           :def :possessive
           :agr {:gender :masc
                 :number :sing}
           :sem {:number :sing
                 :of {:pred :he}
                 :person :3rd}}}
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :sing}
          :sem {:number :sing
                :of {:pred :she}
                :person :3rd}}}]

"la sua"
[{:synsem {:cat :det
           :def :possessive
           :agr {:gender :fem
                 :number :sing}
           :sem {:number :sing
                 :of {:pred :he}
                 :person :3rd}}}
  {:synsem {:cat :det
            :def :possessive
            :agr {:gender :fem
                  :number :sing}
            :sem {:number :sing
                  :of {:pred :she}
                       :person :3rd}}}]

"i suoi"
[{:synsem {:cat :det
           :def :possessive
           :agr {:gender :masc
                 :number :plur}
           :sem {:number :sing
                 :of {:pred :he}
                      :person :3rd}}}
 {:synsem {:cat :det
           :def :possessive
           :agr {:gender :masc
                 :number :plur}
           :sem {:number :sing
                 :of {:pred :she}
                      :person :3rd}}}]

"le sue"
[{:synsem {:cat :det
           :def :possessive
           :agr {:gender :fem
                 :number :plur}
           :sem {:number :sing
                 :of {:pred :he}
                      :person :3rd}}}
 {:synsem {:cat :det
           :def :possessive
           :agr {:gender :fem
                 :number :plur}
           :sem {:number :sing
                 :of {:pred :she}
                      :person :3rd}}}]

"il nostro"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :sing}
          :sem {:number :plur
                :of {:pred :we}
                :person :1st}}}

"la nostra"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :sing}
          :sem {:number :plur
                :of {:pred :we}
                :person :1st}}}

"i nostri"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :plur}
          :sem {:number :plur
                :of {:pred :we}
                :person :1st}}}

"le nostre"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :plur}
          :sem {:number :plur
                :of {:pred :we}
                :person :1st}}}

"il vostro"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :sing}
          :sem {:number :plur
                :of {:pred :you-all}
                :person :2nd}}}

"la vostra"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :sing}
          :sem {:number :plur
                :of {:pred :you-all}
                :person :2nd}}}

"i vostri"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :masc
                :number :plur}
          :sem {:number :plur
                :of {:pred :you-all}
                :person :2nd}}}

"le vostre"
{:synsem {:cat :det
          :def :possessive
          :agr {:gender :fem
                :number :plur}
          :sem {:number :plur
                :of {:pred :you-all}
                :person :2nd}}}

"il loro"
 {:synsem {:cat :det
           :def :possessive
           :agr {:gender :masc
                 :number :sing}
           :sem {:number :plur
                 :of {:pred :they}
                 :person :3rd}}}

"i loro"
 {:synsem {:cat :det
           :def :possessive
           :agr {:gender :masc
                 :number :plur}
           :sem {:number :plur
                 :of {:pred :they}
                 :person :3rd}}}

"le loro"
 {:synsem {:cat :det
           :def :possessive
           :agr {:gender :fem
                 :number :plur}
           :sem {:number :plur
                 :of {:pred :they}
                 :person :3rd}}}


 ;; TODO for below: add pronominal "la sua" (translated in English as "his" and "hers", depending on gender of the owner of the referent).
 ;; e.g. "I gatti sono i suoi. (The cats are hers) (if talking about a female owner) or (The cats are his) (if talking about a male owner).

 "le"
 {:synsem {:cat :det
           :def :def
           :agr {:gender :fem
                 :number :plur}
           :sem {:pred :definite
                 :of {:pred nil}}}}
 "lo"
 {:generate-with false
  :synsem {:cat :det
           :def :def
           :agr {:gender :masc
                 :number :sing}
           :sem {:pred :definite
                 :of {:pred nil}}}}

 "l'" {:generate-with false
       :synsem {:cat :det
                :def :def
                :agr {:number :sing}
                :sem {:pred :definite
                      :of {:pred nil}}}}
 "qualche"
 {:synsem {:cat :det
           :def :indef
           :agr {:mass false
                 :number :sing}}}

 "un" [{:synsem {:cat :det
                 :def :indef
                 :mass false
                 :sem {:pred :indefinite
                       :of {:pred nil}}
                 :agr {:gender :masc
                       :number :sing}}}
       {:generate-with false ;; parsing only, not generation: don't generate e.g. "un donna".
        :synsem {:cat :det
                 :def :indef
                 :mass false
                 :sem {:pred :indefinite
                       :of {:pred nil}}
                 :agr {:gender :fem ;; 'un' can be feminine in the case where next word is an adjective (e.g. "alta")
                       ;; and we tokenize "un'alta donna" as [un] [alta] [donna].
                       :number :sing}}}]

 "un'"
 {:generate-with false ;; parsing only, not generation: don't generate e.g. "un donna".
  :synsem {:cat :det
           :def :indef
           :mass false
           :sem {:pred :indefinite
                 :of {:pred nil}}
           :agr {:gender :fem ;; 'un' can be feminine in the case where next word is an adjective (e.g. "alta")
                 ;; and we tokenize "un'alta donna" as [un] [alta] [donna].
                 :number :sing}}}
 "una"
 {:synsem {:cat :det
           :def :indef
           :mass false
           :sem {:pred :indefinite
                 :of {:pred nil}}
           :agr {:gender :fem
                 :number :sing}}}
 "uno"
 {:generate-with false
  :synsem {:cat :det
           :def :indef
           :mass false
           :sem {:pred :indefinite
                 :of {:pred nil}}
           :agr {:gender :masc
                 :number :sing}}}

 "ventotto" {:synsem {:cat :det
                      :def :twentyeight
                      :agr {:number :plur}}}

 }
